{#{% for i in 1..2 %}#}
<div class="autocode-change">
    <div class="autocode-change-summary">
        <div class="full-file-name">
            <span class="folder-name">\src\patata\maspatata\</span><span class="file-name">patatafile.php</span>
        </div>
        <div class="unfold-icon">
            <span class="icon-down ui-icon ui-icon-triangle-1-s"></span>
            <span class="icon-up ui-icon ui-icon-triangle-1-n"></span>
        </div>
    </div>
    <div class="autocode-change-lines">
        <div class="autocode-line">line 1</div>
        <div class="autocode-line">line 1</div>
        <div class="autocode-line">line 1</div>
        <div class="autocode-line">line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 line 1 </div>
        <div class="autocode-line">line 1</div>
    </div>
</div>
{#{% endfor %}#}

<script>
    $("div.autocode-change").click(function () {
        $(this).find("div.autocode-change-lines").slideToggle();

        if ($(this).find("div.unfold-icon span.icon-down").first().css('display') === "none") {
            $(this).find("div.unfold-icon span.icon-down").css('display', 'block');
            $(this).find("div.unfold-icon span.icon-up").hide();
        } else {
            $(this).find("div.unfold-icon span.icon-down").hide();
            $(this).find("div.unfold-icon span.icon-up").css('display', 'block');
        }
    });
</script>
