<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Draggy - Fatal error</title>
        <meta charset="utf-8">
        <link type="text/css" href="{{ asset('bundles/draggy/css/style.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <div>
            {{ message | nl2br }}
        </div>
    </body>
</html>