<div id="generate-entities-dialog" class="draggy-dialog" title="Generate entities">
    <div id="generate-entities-messages">
        <p>WARNING: If you continue your project will be saved</p>
        <p>It is recommended that you double check that you have a copy of the '{{ targetFolder }}' folder before continuing.</p>
        <p>Please review the changes and confirm by pressing 'Generate'...</p>
        <div id="autocode-changes"></div>
    </div>
    <div id="generate-entities-success"></div>
</div>

<script>
    $(function () {
        $("#generate-entities-dialog").dialog({
            autoOpen: false,
            height: 800,
            width: 1000,
            modal: true,
            buttons: {
                'Generate': function () {
                    Draggy.prototype.save();

                    var $dialog = $('#generate-entities-dialog');
                    var buttons = {'Close': GenerateEntitiesDialog.prototype.defaultButtons['Close']};

                    $dialog.dialog("option", "buttons", buttons);

                    $("#generate-entities-messages").hide();
                    $("#generate-entities-success").html('Generating...').show();

                    $.ajax({
                        type: 'POST',
                        url: Draggy.prototype.generateAddress,
                        cache: false
                    }).done(function (html) {
                        $("#generate-entities-success").html(html).show();
                    }).fail(function (html) {
                        $("#generate-entities-success").html('There was some sort of error generating the entities.').append(html).show();
                    });
                },
                Close: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>