<div id="project-properties-dialog" class="draggy-dialog" title="Project properties">
    <div id="project-properties-tabs">
        <ul>
            <li><a href="#project-properties-tabs-general">General</a></li>
            <li><a href="#project-properties-tabs-autocode">Autocode</a></li>
        </ul>

        <div id="project-properties-tabs-general">
            <table>
                <tr>
                    <td><label for="project-language">Language:</label></td>
                    <td>
                        <select id="project-language">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="project-framework">Project Framework:</label></td>
                    <td>
                        <select id="project-framework">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="project-orm">Project ORM:</label></td>
                    <td>
                        <select id="project-orm">
                        </select>
                    </td>
                </tr>
            </table>

            <label for="project-description">Description:</label><br/>
            <textarea id="project-description" name="description" size="40" cols="70" rows="8"></textarea><br/>
        </div>
        <div id="project-properties-tabs-autocode">
            <div id="autocode-properties">
            </div>

            <div id="autocode-configurations">
                <br/>
                <strong>Configurations:</strong>
                <table></table>
            </div>

            <div id="autocode-templates">
                <br/>
                <strong>Templates:</strong>
                <table></table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        var $projectLanguage  = $('#project-language');
        var $projectFramework = $('#project-framework');
        var $projectORM       = $('#project-orm');

        $('#project-properties-tabs').tabs({
            beforeActivate: function( event, ui ) {
                if ($(ui.newTab).children('a').html() == 'Autocode')
                    ProjectPropertiesDialog.prototype.loadAutocodeTab();
            }
        });

        $projectLanguage.change(function () {
            ProjectPropertiesDialog.prototype.changedLanguage($projectLanguage.val());
        });

        $projectFramework.change(function () {
            ProjectPropertiesDialog.prototype.changedFramework($projectFramework.val());
        });

        $projectORM.change(function () {
            ProjectPropertiesDialog.prototype.changedORM($projectORM.val());
        });

        $("#project-properties-dialog").dialog({
            autoOpen: false,
            //height: 300,
            width: 650,
            modal: true,
            buttons: {
                'Change': function() {
                    ProjectPropertiesDialog.prototype.commitChanges();

                    $( this ).dialog("close");
                },
                Cancel: function() {
                    $( this ).dialog("close");
                }
            }
        });

        LinkClassDialog.prototype.innit();
    });
</script>