/* Override jQuery UI */
.ui-widget, .ui-widget .ui-widget {
    font-size: inherit;
}

html, body {
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    xbackground-color: red;
}

html {
    xbackground-color: black;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* Draggy */
.connectable {
    float: left;
    padding: 5px 5px 15px 5px;
    border-radius: 3px;
    white-space: nowrap;
}

.connectable .name {
    font-weight: bold;
}

.connectable .controls {
    position: absolute;
    left: 0;
    bottom: 0;
}

.class {
    border: 1px solid #3d66cc;
    background: #D2E0F3;
}

.abstract {
    border: 1px solid #4ccc20;
    background: #bff3b8;
}

.interface {
    border: 1px solid #35ccb4;
    background: #c6f3e8;
}

.trait {
    border: 1px solid #cc12c1;
    background: #f3cce0;
}

.manyToMany {
    border: 1px solid #ff0200;
    background: #ffc8c8;
}

.container {
    border: 1px solid #d0ce7d;
    background: #fffbe0;
    float: left;
    padding: 5px;
}

.container .handle {
    cursor: move;
    background: #ccb866;
    float: left;
    left: 0;
    top: 0;
    position: absolute;
    padding: 0 3px;
    border-right: 1px solid #d0ce7d;
    border-bottom: 1px solid #d0ce7d;
    z-index: 2;
    border-bottom-right-radius: 5px;
}

.container .controls {
    position: absolute;
    left: 0;
    bottom: 0;
}

.container .connectable, .connectable {
    z-index: 20;
}

.attributes .attribute-information {
    color: #707070;
}

.attributes .inherited-attribute-name {
    border-bottom: 1px dotted #707070;
}

.attributes .inherited-attribute {
    text-decoration: underline;
}

#edit-attributes {
    width: 98%;
}

#edit-item-tabs div div.scroll {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

div.draggy-dialog {
    display: none;
}

#link-item-dialog table {
    width: 100%;
}

/* Footer menu */
#menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    position: fixed;
    z-index: 100;
    background-color: #000;
    color: #FFF;
    padding: 1px 3px;
}

#menu span {
    cursor: pointer;
}

#draggy-area {
    top: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    clear: left;
    xbackground-color: #35ccb4;
}

.droppable-hover, #draggy-area.droppable-hover {
    border: 1px solid red;
    background-color: #ffdb8c;
}

#contextual-menu-overlay {
    top: 20px;
    width: 100%;
    height: 100%;
    position: fixed;
    clear: left;
    xbackground-color: rgba(204, 178, 142, 0.52);
}

.icon-primary-null              { width: 10px; height: 10px; background: url('er_icons.png') no-repeat 0 0;         position: relative; display: block; text-indent: -99999px; overflow: hidden; float: left; margin-right: 4px; margin-top: 3px; }
.icon-primary-not-null          { width: 10px; height: 10px; background: url('er_icons.png') no-repeat -11px 0;     position: relative; display: block; text-indent: -99999px; overflow: hidden; float: left; margin-right: 4px; margin-top: 3px; }
.icon-field-null                { width: 10px; height: 10px; background: url('er_icons.png') no-repeat 0 -11px;     position: relative; display: block; text-indent: -99999px; overflow: hidden; float: left; margin-right: 4px; margin-top: 3px; }
.icon-field-not-null            { width: 10px; height: 10px; background: url('er_icons.png') no-repeat -11px -11px; position: relative; display: block; text-indent: -99999px; overflow: hidden; float: left; margin-right: 4px; margin-top: 3px; }
.icon-foreign-null              { width: 10px; height: 10px; background: url('er_icons.png') no-repeat 0 -22px;     position: relative; display: block; text-indent: -99999px; overflow: hidden; float: left; margin-right: 4px; margin-top: 3px; }
.icon-foreign-not-null          { width: 10px; height: 10px; background: url('er_icons.png') no-repeat -11px -22px; position: relative; display: block; text-indent: -99999px; overflow: hidden; float: left; margin-right: 4px; margin-top: 3px; }
.icon-primary-foreign-null      { width: 10px; height: 10px; background: url('er_icons.png') no-repeat 0 -33px;     position: relative; display: block; text-indent: -99999px; overflow: hidden; float: left; margin-right: 4px; margin-top: 3px; }
.icon-primary-foreign-not-null  { width: 10px; height: 10px; background: url('er_icons.png') no-repeat -11px -33px; position: relative; display: block; text-indent: -99999px; overflow: hidden; float: left; margin-right: 4px; margin-top: 3px; }

.icon-inheritance-top    { width: 9px;  height: 14px; background: url('er_icons.png') no-repeat -22px -15px; bottom: 0; left: -4px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-one-top            { width: 9px;  height: 14px; background: url('er_icons.png') no-repeat -37px -15px; bottom: 0; left: -4px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-one-null-top       { width: 11px; height: 14px; background: url('er_icons.png') no-repeat -52px -15px; bottom: 0; left: -5px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-many-top           { width: 11px; height: 14px; background: url('er_icons.png') no-repeat -67px -15px; bottom: 0; left: -5px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-many-null-top      { width: 11px; height: 14px; background: url('er_icons.png') no-repeat -82px -15px; bottom: 0; left: -5px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-none-top           { width: 11px; height: 14px; background: url('er_icons.png') no-repeat -97px -15px; bottom: 0; left: -5px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }

.icon-inheritance-bottom { width: 9px;  height: 14px; background: url('er_icons.png') no-repeat -22px 0;     top: 0;    left: -4px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-one-bottom         { width: 9px;  height: 14px; background: url('er_icons.png') no-repeat -37px 0;     top: 0;    left: -4px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-one-null-bottom    { width: 11px; height: 14px; background: url('er_icons.png') no-repeat -52px 0;     top: 0;    left: -5px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-many-bottom        { width: 11px; height: 14px; background: url('er_icons.png') no-repeat -67px 0;     top: 0;    left: -5px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-many-null-bottom   { width: 11px; height: 14px; background: url('er_icons.png') no-repeat -82px 0;     top: 0;    left: -5px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-none-bottom        { width: 11px; height: 14px; background: url('er_icons.png') no-repeat -97px 0;     top: 0;    left: -5px; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }

.icon-inheritance-left   { width: 14px; height: 9px;  background: url('er_icons.png') no-repeat -22px -31px; top: -4px; right: 0;   position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-one-left           { width: 14px; height: 9px;  background: url('er_icons.png') no-repeat -37px -31px; top: -4px; right: 0;   position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-one-null-left      { width: 14px; height: 11px; background: url('er_icons.png') no-repeat -52px -31px; top: -5px; right: 0;   position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-many-left          { width: 14px; height: 11px; background: url('er_icons.png') no-repeat -67px -31px; top: -5px; right: 0;   position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-many-null-left     { width: 14px; height: 11px; background: url('er_icons.png') no-repeat -82px -31px; top: -5px; right: 0;   position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-none-left          { width: 14px; height: 11px; background: url('er_icons.png') no-repeat -97px -31px; top: -5px; right: 0;   position: absolute; display: block; text-indent: -99999px; overflow: hidden; }

.icon-inheritance-right  { width: 14px; height: 9px;  background: url('er_icons.png') no-repeat -22px -43px; top: -4px; left: 0;    position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-one-right          { width: 14px; height: 9px;  background: url('er_icons.png') no-repeat -37px -43px; top: -4px; left: 0;    position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-one-null-right     { width: 14px; height: 11px; background: url('er_icons.png') no-repeat -52px -43px; top: -5px; left: 0;    position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-many-right         { width: 14px; height: 11px; background: url('er_icons.png') no-repeat -67px -43px; top: -5px; left: 0;    position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-many-null-right    { width: 14px; height: 11px; background: url('er_icons.png') no-repeat -82px -43px; top: -5px; left: 0;    position: absolute; display: block; text-indent: -99999px; overflow: hidden; }
.icon-none-right         { width: 14px; height: 11px; background: url('er_icons.png') no-repeat -97px -43px; top: -5px; left: 0;    position: absolute; display: block; text-indent: -99999px; overflow: hidden; }

div.connector {
    z-index: 1;
    position: absolute;
    /*background-color: #d3d3d3;*/
}

div.connectorMarker, div.leftConnectorMarker, div.rightConnectorMarker {
    width: 1px;
    height: 1px;
    position: absolute;
}

div.horizontalTopFrom {
    border-top: 1px solid #969696;
    border-right: 1px solid #969696;
    width: 50%;
    height: 100%;
    float: left;
}

div.horizontalTopFrom div.connectorMarker {
    top: 0;
    left: 0;
}

div.horizontalBottomTo {
    border-bottom: 1px solid #969696;
    width: 50%;
    height: 100%;
    margin-left: -1px;
    float: left;
}

div.horizontalBottomTo div.connectorMarker {
    bottom: -1px;
    right: 0;
}

div.horizontalBottomFrom {
    border-bottom: 1px solid #969696;
    border-right: 1px solid #969696;
    width: 50%;
    height: 100%;
    float: left;
}

div.horizontalBottomFrom div.connectorMarker {
    bottom: -1px;
    left: 0;
}

div.horizontalTopTo {
    border-top: 1px solid #969696;
    width: 50%;
    height: 100%;
    margin-left: -1px;
    float: left;
}

div.horizontalTopTo div.connectorMarker {
    top: 0;
    right: 0;
}

div.verticalTopLeft {
    border-left: 1px solid #969696;
    border-bottom: 1px solid #969696;
    width: 100%;
    height: 50%;
}

div.verticalTopLeft div.connectorMarker {
    top: 0;
    left: 0;
}

div.verticalBottomRight {
    border-right: 1px solid #969696;
    width: 100%;
    height: 50%;
}

div.verticalBottomRight div.connectorMarker {
    bottom: 0;
    right: -1px;
}

div.verticalBottomLeft {
    border-left: 1px solid #969696;
    width: 100%;
    height: 50%;
}

div.verticalBottomLeft div.connectorMarker {
    bottom: 0;
    left: 0;
}

div.verticalTopRight {
    border-right: 1px solid #969696;
    border-bottom: 1px solid #969696;
    width: 100%;
    height: 50%;
}

div.verticalTopRight div.connectorMarker {
    top: 0;
    right: -1px;
}

div.cornerTopRight {
    border-top: 1px solid #969696;
    border-right: 1px solid #969696;
    width: 100%;
    height: 100%
}

div.cornerTopRight div.leftConnectorMarker {
    top: 0;
    left: 0;
}

div.cornerTopRight div.rightConnectorMarker {
    bottom: 0;
    right: -1px;
}

div.cornerBottomRight {
    border-bottom: 1px solid #969696;
    border-right: 1px solid #969696;
    width: 100%;
    height: 100%
}

div.cornerBottomRight div.leftConnectorMarker {
    bottom: -1px;
    left: 0;
}

div.cornerBottomRight div.rightConnectorMarker {
    top: 0;
    right: -1px;
}

div.cornerTopLeft {
    border-top: 1px solid #969696;
    border-left: 1px solid #969696;
    width: 100%;
    height: 100%
}

div.cornerTopLeft div.leftConnectorMarker {
    top: 0;
    right: 0;
}

div.cornerTopLeft div.rightConnectorMarker {
    bottom: 0;
    left: 0;
}

div.cornerBottomLeft {
    border-bottom: 1px solid #969696;
    border-left: 1px solid #969696;
    width: 100%;
    height: 100%
}

div.cornerBottomLeft div.leftConnectorMarker {
    bottom: -1px;
    right: 0;
}

div.cornerBottomLeft div.rightConnectorMarker {
    top: 0;
    left: 0;
}

div.brokenLink {
    border: 0;
}

/* Context menu icons */
/*.context-menu-item.icon-class::before { width: 16px;  height: 16px; background: url('icons.png') no-repeat 0 0;     top: 0;    left: 0; position: absolute; display: block; text-indent: -99999px; overflow: hidden; }*/
.context-menu-list {
    font-size: 12px;
}

.context-menu-item.icon {
    padding: 4px 2px 0 24px;
}

.context-menu-item.icon-class:before,
.context-menu-item.icon-abstract:before,
.context-menu-item.icon-interface:before,
.context-menu-item.icon-trait:before,
.context-menu-item.icon-module:before,
.context-menu-item.icon-edit:before
{
    content: "";
    width: 16px;
    height: 16px;
    background: url('icons.png') 0 0 no-repeat;
    float: left;
    margin: 0 0 0 -22px;
}

.context-menu-item.icon-class:before        { background-position: 0 0;         }
.context-menu-item.icon-abstract:before     { background-position: 0 -16px;     }
.context-menu-item.icon-interface:before    { background-position: 0 -32px;     }
.context-menu-item.icon-trait:before        { background-position: 0 -48px;     }
.context-menu-item.icon-module:before       { background-position: -16px 0;     }
.context-menu-item.icon-edit:before         { background-position: -16px -16px; }

/* Error style */
html.error {
    background-color: rgb(245, 167, 167);
}

#menu span.model-no-saveable {
    color: #FF6666;
}

/* Notifications */
div.notification {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    box-shadow: 0 0 5px black;
    height: 35px;
    display: none;
}

div.notification span.ui-icon {
    display: inline-block;
    margin-top: 10px;
}

div.notification span.message {

}

div#notification-error {
    background: #FF6666;
}

div#notification-warning {
    background: #fde073;
}

div#notification-ok {
    background-color: palegreen;
}

/* Autocode report styles */

div.autocode-change {
    background-color: #ededed;
    padding: 10px;
    width: 947px;
    border-bottom: 2px solid #fff;
}

div.autocode-change-summary {
}

div.autocode-change-summary span.autocode-new-file {
    font-weight: bold;
    color: rgb(71, 196, 19)
}

div.autocode-change-summary span.autocode-deleted-file {
    font-weight: bold;
    color: #cc4235;
}

div.full-file-name {
    overflow: hidden;
    display: inline-block;
    max-width: 930px;
}

div.autocode-change div.full-file-name span.folder-name {
    color: #888;
}

div.autocode-change div.full-file-name span.file-name {
    color: #444;
}

div.autocode-change div.unfold-icon {
    display: inline-block;
    margin: -3px;
    visibility: hidden;
    width: 16px;
}

div.autocode-change:hover div.unfold-icon {
    visibility: visible;
}

div.autocode-change div.unfold-icon span.icon-down, div.autocode-change div.unfold-icon span.icon-up {
}

div.autocode-change div.unfold-icon span.icon-up {
    display: none;
}

div.autocode-change-lines {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    overflow-x: auto;
}

div.autocode-line {
    height: 21px;
}

div.autocode-line-inserted {
    background-color: #dfd;
}

div.autocode-line-deleted {
    background-color: #fdd;
}

div.autocode-line-jump {
    background-color: #eaf2f5;
}

div.autocode-line-number {
    display: inline-block;
    width: 40px;
    height: 18px;
    margin-top: 1px;
    font-family: monospace;
    white-space: pre;
    border-right: 2px solid #eee;
}

div.autocode-line-text {
    display: inline-block;
    clear: right;
    width: 895px;
    xheight: 18px;
    overflow: hidden;
    font-family: monospace;
    white-space: pre;
}

div.autocode-no-changes {
    background-color: #96d137;
    padding: 20px;
    color: #444;
    font-size: 14pt;
}

div.autocode-error {
    background-color: #d1605c;
    padding: 20px;
    color: #444;
    font-size: 14pt;
}